@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,700&display=swap");

:root {
	--aqua: #00b385;
	--light-grey: #f4f4f4;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: var(--aqua);
}

.main {
	background: var(--light-grey);
	width: 1040px;
	margin: 100px auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-heading {
	font-family: "Neonderthaw", cursive;
	color: var(--aqua);
	font-size: 32px;
	width: 500px;
	text-align: center;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 30px;
}

.main-content {
	font-family: "Space Mono", monospace;
	display: flex;
	justify-content: space-around;
	padding-bottom: 4rem;
}

/* Controls Card */

.controls {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 400px;
	height: 400px;
	background-color: #fff;
	border: 1px solid black;
}

.controls-heading {
	font-size: 42px;
	font-style: italic;
	text-decoration: underline;
}

.color-buttons {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

button {
	font-family: "Space Mono", monospace;
	background-color: var(--aqua);
	color: #fff;
	font-size: 18px;
	border: none;
	border-radius: 10%;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	transition: all 0.2s ease-in-out;
}

button h3 {
	font-weight: 400;
}

button:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.random,
.pick-color,
.eraser {
	width: 100px;
	height: 100px;
}

.pick-color .input {
	display: inline-block;
	width: 10px;
	height: 10px;
}

.slide-container {
	width: 80%;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 10px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	background: var(--aqua);
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: var(--aqua);
	cursor: pointer;
}

.slide-container p {
	width: 100%;
	text-align: center;
}

.clear {
	width: 80%;
	height: 50px;
	border-radius: 0;
}

/* Drawing board */

.grid-container {
	display: grid;
	width: 400px;
	height: 400px;
	border: 1px solid black;
}

.shorten {
	transform: scale(0.8);
}
